<h2>用户列表（{$count}）</h2> 
<table border='1'>
	<tr><th>ID</th><th>昵称</th><th>密码</th><th>生日</th></tr>
	<volist name='list' id='user'>
	<tr><td>{$user.id}</td><td>{$user.nickname}</td><td>{$user.password}</td><td>{:date('Y-m-d',$user.birthday)}</td></tr>
	</volist>
<table>

<a href="{:url('demo/index/index1').'?page=1'}">首页</a><a href="{:url('demo/index/index1').'?page='.$pre}">上一页</a><a href="{:url('demo/index/index1').'?page='.$next}">下一页</a><a href="{:url('demo/index/index1').'?page='.$pages}">尾页</a> 

